<a href="https://en.wikipedia.orghttps://en.wikipedia.org/wiki/Rock_(geology)" title="Rock (geology)">rock</a>

<a href="https://en.wikipedia.orghttps://en.wikipedia.org/wiki/Igneous_rock" title="Igneous rock">Igneous rock</a>
<dl>
<dd><a href="https://en.wikipedia.org/wiki/Adakite" title="Adakite">Adakite</a> - a class of <a href="https://en.wikipedia.org/wiki/Igneous_rock#Chemical_classification" title="Igneous rock">intermediate</a> to <a href="https://en.wikipedia.org/wiki/Igneous_rock#Chemical_classification" title="Igneous rock">felsic</a> rocks containing low amounts of <a href="https://en.wikipedia.org/wiki/Yttrium" title="Yttrium">yttrium</a> and <a href="https://en.wikipedia.org/wiki/Ytterbium" title="Ytterbium">ytterbium</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Andesite" title="Andesite">Andesite</a> - an intermediate <a href="https://en.wikipedia.org/wiki/Volcanic_rock" title="Volcanic rock">volcanic rock</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Alkali_feldspar_granite" title="Alkali feldspar granite">Alkali feldspar granite</a> - a <a href="https://en.wikipedia.org/wiki/Granitoid" title="Granitoid">granitoid</a> in which at least 90% of the total feldspar is in the form of alkali feldspar</dd>
<dd><a href="https://en.wikipedia.org/wiki/Anorthosite" title="Anorthosite">Anorthosite</a> - a <a href="https://en.wikipedia.org/wiki/Igneous_rock#Chemical_classification" title="Igneous rock">mafic</a> <a href="https://en.wikipedia.org/wiki/Intrusion" class="mw-redirect" title="Intrusion">intrusive</a> <a href="https://en.wikipedia.org/wiki/Igneous_rock" title="Igneous rock">igneous rock</a> composed predominantly of <a href="https://en.wikipedia.org/wiki/Anorthite" title="Anorthite">plagioclase</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Aplite" title="Aplite">Aplite</a> - a very fine-grained <a href="https://en.wikipedia.org/wiki/Intrusion" class="mw-redirect" title="Intrusion">intrusive</a> <a href="https://en.wikipedia.org/wiki/Igneous_rock" title="Igneous rock">igneous rock</a> composed of <a href="https://en.wikipedia.org/wiki/Quartz" title="Quartz">quartz</a> and <a href="https://en.wikipedia.org/wiki/Feldspar" title="Feldspar">feldspar</a>, similar composition to granite but with grains &lt;1mm</dd>
<dd><a href="https://en.wikipedia.org/wiki/Basalt" title="Basalt">Basalt</a> - a volcanic rock of <a href="https://en.wikipedia.org/wiki/Mafic" title="Mafic">mafic</a> composition</dd>
<dd><a href="https://en.wikipedia.org/wiki/A%27a" class="mw-redirect" title="A'a">A'a</a> - basaltic lava with a crumpled appearance</dd>
<dd><a href="https://en.wikipedia.org/wiki/Pahoehoe" class="mw-redirect" title="Pahoehoe">Pahoehoe</a> - basaltic lava with a flowing, often ropy appearance</dd>
<dd><a href="https://en.wikipedia.org/wiki/Hawaiite" title="Hawaiite">Hawaiite</a> - a type of basalt, typically formed by ocean island (<a href="https://en.wikipedia.org/wiki/Hot_spot_(geology)" class="mw-redirect" title="Hot spot (geology)">hot spot</a>) <a href="https://en.wikipedia.org/wiki/Volcanism" title="Volcanism">volcanism</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Basanite" title="Basanite">Basanite</a> - a volcanic rock of mafic composition; essentially a <a href="https://en.wikipedia.org/wiki/Silica" class="mw-redirect" title="Silica">silica</a>-<a href="https://en.wikipedia.org/wiki/Saturation_(chemistry)" title="Saturation (chemistry)">undersaturated</a> basalt</dd>
<dd><a href="https://en.wikipedia.org/wiki/Blairmorite" title="Blairmorite">Blairmorite</a> - a rare volcanic rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Boninite" title="Boninite">Boninite</a> - a <a href="https://en.wikipedia.org/wiki/Magnesium" title="Magnesium">magnesium</a>-rich basalt dominated by <a href="https://en.wikipedia.org/wiki/Pyroxene" title="Pyroxene">pyroxene</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Carbonatite" title="Carbonatite">Carbonatite</a> - a rare igneous rock composed of &gt;50% <a href="https://en.wikipedia.org/wiki/Carbonate" title="Carbonate">carbonate</a> minerals</dd>
<dd><a href="https://en.wikipedia.org/wiki/Charnockite" title="Charnockite">Charnockite</a> - a type of <a href="https://en.wikipedia.org/wiki/Granite" title="Granite">granite</a> containing <a href="https://en.wikipedia.org/wiki/Pyroxene" title="Pyroxene">orthopyroxene</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Enderbite" title="Enderbite">Enderbite</a> - a variety of charnockite</dd>
<dd><a href="https://en.wikipedia.org/wiki/Dacite" title="Dacite">Dacite</a> - a <a href="https://en.wikipedia.org/wiki/Felsic_rock" class="mw-redirect" title="Felsic rock">felsic</a> to intermediate volcanic rock containing <a href="https://en.wikipedia.org/wiki/Hornblende" title="Hornblende">hornblende</a> and with more plagioclase than <a href="https://en.wikipedia.org/wiki/Orthoclase" title="Orthoclase">orthoclase</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Diabase" title="Diabase">Diabase</a> or <a href="https://en.wikipedia.org/wiki/Dolerite" class="mw-redirect" title="Dolerite">dolerite</a> - an intrusive mafic rock forming <a href="https://en.wikipedia.org/wiki/Dike_(geology)" title="Dike (geology)">dykes</a> or <a href="https://en.wikipedia.org/wiki/Sill_(geology)" title="Sill (geology)">sills</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Diorite" title="Diorite">Diorite</a> - a coarse-grained intermediate <a href="https://en.wikipedia.org/wiki/Pluton" title="Pluton">plutonic</a> rock composed of plagioclase, pyroxene and/or <a href="https://en.wikipedia.org/wiki/Amphibole" title="Amphibole">amphibole</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Napoleonite" title="Napoleonite">Napoleonite</a> - a variety of diorite which is characterized by orbicular structure. Also called corsite.</dd>
<dd><a href="https://en.wikipedia.org/wiki/Dunite" title="Dunite">Dunite</a> - a <a href="https://en.wikipedia.org/wiki/Phaneritic" class="mw-redirect" title="Phaneritic">phaneritic</a> <a href="https://en.wikipedia.org/wiki/Ultramafic" class="mw-redirect" title="Ultramafic">ultramafic</a> rock composed of more than 90% <a href="https://en.wikipedia.org/wiki/Olivine" title="Olivine">olivine</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Essexite" title="Essexite">Essexite</a> - a silica-undersaturated mafic plutonic rock (essentially a <a href="https://en.wikipedia.org/wiki/Feldspathoid" title="Feldspathoid">feldspathoid</a>-bearing <a href="https://en.wikipedia.org/wiki/Gabbro" title="Gabbro">gabbro</a>)</dd>
<dd><a href="https://en.wikipedia.org/wiki/Foidolite" title="Foidolite">Foidolite</a> - a plutonic igneous rock composed of &gt;90% feldspathoid minerals</dd>
<dd><a href="https://en.wikipedia.org/wiki/Gabbro" title="Gabbro">Gabbro</a> - a coarse-grained plutonic rock composed of pyroxene and plagioclase basically equivalent to <a href="https://en.wikipedia.org/wiki/Basalt" title="Basalt">basalt</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Granite" title="Granite">Granite</a> - a coarse-grained plutonic rock composed of <a href="https://en.wikipedia.org/wiki/Orthoclase" title="Orthoclase">orthoclase</a>, <a href="https://en.wikipedia.org/wiki/Plagioclase" title="Plagioclase">plagioclase</a> and <a href="https://en.wikipedia.org/wiki/Quartz" title="Quartz">quartz</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Granodiorite" title="Granodiorite">Granodiorite</a> - a granitic plutonic rock with more plagioclase than orthoclase</dd>
<dd><a href="https://en.wikipedia.org/wiki/Granophyre" title="Granophyre">Granophyre</a> - a <a href="https://en.wikipedia.org/wiki/Subvolcanic_rock" title="Subvolcanic rock">subvolcanic</a> intrusive rock of granitic composition</dd>
<dd><a href="https://en.wikipedia.org/wiki/Harzburgite" title="Harzburgite">Harzburgite</a> - a variety of <a href="https://en.wikipedia.org/wiki/Peridotite" title="Peridotite">peridotite</a>; an ultramafic <a href="https://en.wikipedia.org/wiki/Cumulate_rock" title="Cumulate rock">cumulate rock</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Hornblendite" title="Hornblendite">Hornblendite</a> - a mafic or ultramafic <a href="https://en.wikipedia.org/wiki/Cumulate_rock" title="Cumulate rock">cumulate rock</a> dominated by &gt;90% hornblende</dd>
<dd><a href="https://en.wikipedia.org/wiki/Hyaloclastite" title="Hyaloclastite">Hyaloclastite</a> - a volcanic rock composed primarily of glasses and glassy <a href="https://en.wikipedia.org/wiki/Tuff" title="Tuff">tuff</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Icelandite" title="Icelandite">Icelandite</a> - an iron-rich, aluminium-poor <a href="https://en.wikipedia.org/wiki/Andesite" title="Andesite">andesite</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Ignimbrite" title="Ignimbrite">Ignimbrite</a> - a fragmental volcanic rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Ijolite" title="Ijolite">Ijolite</a> - a very rare silica-undersaturated plutonic rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Kimberlite" title="Kimberlite">Kimberlite</a> - a rare ultramafic, <a href="https://en.wikipedia.org/wiki/Ultrapotassic" class="mw-redirect" title="Ultrapotassic">ultrapotassic</a> volcanic rock and a source of diamonds</dd>
<dd><a href="https://en.wikipedia.org/wiki/Komatiite" title="Komatiite">Komatiite</a> - an ultramafic volcanic rock with very high magnesium content</dd>
<dd><a href="https://en.wikipedia.org/wiki/Lamproite" title="Lamproite">Lamproite</a> - an ultrapotassic volcanic rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Lamprophyre" title="Lamprophyre">Lamprophyre</a> - an ultramafic, ultrapotassic intrusive rock dominated by mafic <a href="https://en.wikipedia.org/wiki/Phenocryst" title="Phenocryst">phenocrysts</a> in a feldspar groundmass</dd>
<dd><a href="https://en.wikipedia.org/wiki/Latite" title="Latite">Latite</a> - a silica-undersaturated form of andesite</dd>
<dd><a href="https://en.wikipedia.org/wiki/Lherzolite" title="Lherzolite">Lherzolite</a> - an ultramafic rock, essentially a <a href="https://en.wikipedia.org/wiki/Peridotite" title="Peridotite">peridotite</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Monzogranite" title="Monzogranite">Monzogranite</a> - a silica-undersaturated granite with &lt;5% <a href="https://en.wikipedia.org/wiki/Normative_mineralogy" title="Normative mineralogy">normative</a> quartz</dd>
<dd><a href="https://en.wikipedia.org/wiki/Monzonite" title="Monzonite">Monzonite</a> - a plutonic rock with &lt;5% <a href="https://en.wikipedia.org/wiki/Normative_mineralogy" title="Normative mineralogy">normative</a> quartz</dd>
<dd><a href="https://en.wikipedia.org/wiki/Nepheline_syenite" title="Nepheline syenite">Nepheline syenite</a> - a silica-undersaturated plutonic rock of <a href="https://en.wikipedia.org/wiki/Nepheline" title="Nepheline">nepheline</a> and <a href="https://en.wikipedia.org/wiki/Alkali_feldspar" title="Alkali feldspar">alkali feldspar</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Nephelinite" title="Nephelinite">Nephelinite</a> - a silica-undersaturated plutonic rock with &gt;90% nepheline</dd>
<dd><a href="https://en.wikipedia.org/wiki/Norite" title="Norite">Norite</a> - a hypersthene-bearing gabbro</dd>
<dd><a href="https://en.wikipedia.org/wiki/Obsidian" title="Obsidian">Obsidian</a> - a type of volcanic glass</dd>
<dd><a href="https://en.wikipedia.org/wiki/Pegmatite" title="Pegmatite">Pegmatite</a> - an igneous rock (or metamorphic) rock with crystals &gt;1 inch, usually <a href="https://en.wikipedia.org/wiki/Granite" title="Granite">granitic</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Peridotite" title="Peridotite">Peridotite</a> - a <a href="https://en.wikipedia.org/wiki/Plutonic_rock" class="mw-redirect" title="Plutonic rock">plutonic</a> or <a href="https://en.wikipedia.org/wiki/Cumulate_rock" title="Cumulate rock">cumulate</a> <a href="https://en.wikipedia.org/wiki/Ultramafic_rock" title="Ultramafic rock">ultramafic rock</a> composed of olivine and pyroxene</dd>
<dd><a href="https://en.wikipedia.org/wiki/Phonolite" title="Phonolite">Phonolite</a> - a silica-undersaturated volcanic rock; essentially similar to <a href="https://en.wikipedia.org/wiki/Nepheline_syenite" title="Nepheline syenite">nepheline syenite</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Picrite" class="mw-redirect" title="Picrite">Picrite</a> - an olivine-bearing <a href="https://en.wikipedia.org/wiki/Basalt" title="Basalt">basalt</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Porphyry_(geology)" title="Porphyry (geology)">Porphyry</a> - a rock, usually granitic, with a <a href="https://en.wikipedia.org/wiki/Porphyritic" title="Porphyritic">porphyritic</a> texture</dd>
<dd><a href="https://en.wikipedia.org/wiki/Pumice" title="Pumice">Pumice</a> - a fine grained, vesicular volcanic rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Pyroxenite" title="Pyroxenite">Pyroxenite</a> - a coarse grained plutonic rock composed of &gt;90% <a href="https://en.wikipedia.org/wiki/Pyroxene" title="Pyroxene">pyroxene</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Quartz_diorite" title="Quartz diorite">Quartz diorite</a> - a diorite with &gt;5% modal quartz</dd>
<dd><a href="https://en.wikipedia.org/wiki/Quartz_monzonite" title="Quartz monzonite">Quartz monzonite</a> - an intermediate plutonic rock, essentially a monzonite with 5-10% modal quartz</dd>
<dd><a href="https://en.wikipedia.org/wiki/Quartzolite" title="Quartzolite">Quartzolite</a> - an intrusive rock composed mostly of quartz</dd>
<dd><a href="https://en.wikipedia.org/wiki/Rhyodacite" title="Rhyodacite">Rhyodacite</a> - a felsic volcanic rock which is intermediate between a rhyolite and a dacite</dd>
<dd><a href="https://en.wikipedia.org/wiki/Rhyolite" title="Rhyolite">Rhyolite</a> - a felsic volcanic rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Comendite" title="Comendite">Comendite</a> - a <a href="https://en.wikipedia.org/wiki/Peralkaline_rock" title="Peralkaline rock">peralkaline</a> rhyolite</dd>
<dd><a href="https://en.wikipedia.org/wiki/Pantellerite" title="Pantellerite">Pantellerite</a> - an alkaline rhyolite-rhyodacite with amphibole phenocrysts</dd>
<dd><a href="https://en.wikipedia.org/wiki/Scoria" title="Scoria">Scoria</a> - an extremely vesicular mafic volcanic rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Sovite" title="Sovite">Sovite</a> - a coarse-grained <a href="https://en.wikipedia.org/wiki/Carbonatite" title="Carbonatite">carbonatite</a> rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Syenite" title="Syenite">Syenite</a> - a plutonic rock dominated by orthoclase feldspar; a type of <a href="https://en.wikipedia.org/wiki/Granite" title="Granite">granitoid</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Tachylyte" class="mw-redirect" title="Tachylyte">Tachylyte</a> - essentially a basaltic glass</dd>
<dd><a href="https://en.wikipedia.org/wiki/Tephrite" title="Tephrite">Tephrite</a> - a silica-undersaturated volcanic rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Tonalite" title="Tonalite">Tonalite</a> - a plagioclase-dominant granitoid</dd>
<dd><a href="https://en.wikipedia.org/wiki/Trachyandesite" title="Trachyandesite">Trachyandesite</a> - an alkaline intermediate volcanic rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Benmoreite" title="Benmoreite">Benmoreite</a> - sodic trachyandesite</dd>
<dd><a href="https://en.wikipedia.org/wiki/Basaltic_trachyandesite" class="mw-redirect" title="Basaltic trachyandesite">Basaltic trachyandesite</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Mugearite" title="Mugearite">Mugearite</a> - sodic basaltic trachyandesite</dd>
<dd><a href="https://en.wikipedia.org/wiki/Shoshonite" title="Shoshonite">Shoshonite</a> - potassic basaltic trachyandesite</dd>
<dd><a href="https://en.wikipedia.org/wiki/Trachyte" title="Trachyte">Trachyte</a> - a silica-undersaturated volcanic rock; essentially a feldspathoid-bearing rhyolite</dd>
<dd><a href="https://en.wikipedia.org/wiki/Troctolite" title="Troctolite">Troctolite</a> - a plutonic ultramafic rock containing <a href="https://en.wikipedia.org/wiki/Olivine" title="Olivine">olivine</a>, <a href="https://en.wikipedia.org/wiki/Pyroxene" title="Pyroxene">pyroxene</a> and <a href="https://en.wikipedia.org/wiki/Plagioclase" title="Plagioclase">plagioclase</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Trondhjemite" title="Trondhjemite">Trondhjemite</a> - a form of tonalite where plagioclase-group feldspar is <a href="https://en.wikipedia.org/wiki/Oligoclase" title="Oligoclase">oligoclase</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Tuff" title="Tuff">Tuff</a> - a fine-grained volcanic rock formed from volcanic ash</dd>
<dd><a href="https://en.wikipedia.org/wiki/Websterite" title="Websterite">Websterite</a> - a type of <a href="https://en.wikipedia.org/wiki/Pyroxenite" title="Pyroxenite">pyroxenite</a>, composed of clinoproxene and orthopyroxene</dd>
<dd><a href="https://en.wikipedia.org/wiki/Wehrlite" title="Wehrlite">Wehrlite</a> - an ultramafic plutonic or cumulate rock, a type of <a href="https://en.wikipedia.org/wiki/Peridotite" title="Peridotite">peridotite</a>, composed of olivine and clinopyroxene</dd>
</dl>


<a href="https://en.wikipedia.org/wiki/Sedimentary_rock" title="Sedimentary rock">Sedimentary rock</a>
<dl>
<dd><a href="https://en.wikipedia.org/wiki/Argillite" title="Argillite">Argillite</a> - a <a href="https://en.wikipedia.org/wiki/Sedimentary_rock" title="Sedimentary rock">sedimentary rock</a> composed primarily of clay-sized particles</dd>
<dd><a href="https://en.wikipedia.org/wiki/Arkose" title="Arkose">Arkose</a> - a <a href="https://en.wikipedia.org/wiki/Sandstone" title="Sandstone">sandstone</a> with &lt;25% feldspar crystals</dd>
<dd><a href="https://en.wikipedia.org/wiki/Banded_iron_formation" title="Banded iron formation">Banded iron formation</a> - a fine-grained <a href="https://en.wikipedia.org/wiki/Chemical_sedimentary_rock#Chemical" class="mw-redirect" title="Chemical sedimentary rock">chemical sedimentary rock</a> composed of <a href="https://en.wikipedia.org/wiki/Iron_oxide" title="Iron oxide">iron oxide</a> minerals</dd>
<dd><a href="https://en.wikipedia.org/wiki/Breccia" title="Breccia">Breccia</a> - a sedimentary or tectonic rock composed of fragments of other, broken rocks</dd>
<dd><a href="https://en.wikipedia.org/wiki/Calcarenite" title="Calcarenite">Calcarenite</a> - a sedimentary rock composed of &gt; 50% detrital carbonate grains</dd>
<dd><a href="https://en.wikipedia.org/wiki/Chalk" title="Chalk">Chalk</a> - a sedimentary rock composed primarily of <a href="https://en.wikipedia.org/wiki/Coccolith" title="Coccolith">coccolith</a> fossils</dd>
<dd><a href="https://en.wikipedia.org/wiki/Chert" title="Chert">Chert</a> - a fine-grained <a href="https://en.wikipedia.org/wiki/Chemical_sedimentary_rock#Chemical" class="mw-redirect" title="Chemical sedimentary rock">chemical sedimentary rock</a> composed of <a href="https://en.wikipedia.org/wiki/Silica" class="mw-redirect" title="Silica">silica</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Claystone" class="mw-redirect" title="Claystone">Claystone</a> - a sedimentary rock formed from <a href="https://en.wikipedia.org/wiki/Clay" title="Clay">clay</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Coal" title="Coal">Coal</a> - a sedimentary rock formed from organic matter</dd>
<dd><a href="https://en.wikipedia.org/wiki/Conglomerate_(geology)" title="Conglomerate (geology)">Conglomerate</a> - a sedimentary rock composed of large rounded fragments of other rocks</dd>
<dd><a href="https://en.wikipedia.org/wiki/Coquina" title="Coquina">Coquina</a> - a sedimentary <a href="https://en.wikipedia.org/wiki/Carbonate_rock" title="Carbonate rock">carbonate rock</a> formed by accumulation of abundant shell fossils and fragments</dd>
<dd><a href="https://en.wikipedia.org/wiki/Diamictite" title="Diamictite">Diamictite</a> - a <a href="https://en.wikipedia.org/wiki/Lithification" title="Lithification">lithified</a> sedimentary deposit with a wide range of grain sizes</dd>
<dd><a href="https://en.wikipedia.org/wiki/Diatomite" class="mw-redirect" title="Diatomite">Diatomite</a> - sedimentary rock formed from <a href="https://en.wikipedia.org/wiki/Diatom" title="Diatom">diatom</a> fossils</dd>
<dd><a href="https://en.wikipedia.org/wiki/Dolostone" title="Dolostone">Dolomite</a> or <a href="https://en.wikipedia.org/wiki/Dolostone" title="Dolostone">dolostone</a> - a carbonate rock composed of the mineral <a href="https://en.wikipedia.org/wiki/Dolomite" title="Dolomite">dolomite</a> +/- <a href="https://en.wikipedia.org/wiki/Calcite" title="Calcite">calcite</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Evaporite" title="Evaporite">Evaporite</a> - chemical sedimentary rock formed by accumulation of minerals after <a href="https://en.wikipedia.org/wiki/Evaporation" title="Evaporation">evaporation</a>; varieties include rock salt (<a href="https://en.wikipedia.org/wiki/Halite" title="Halite">halitite</a>) and rock <a href="https://en.wikipedia.org/wiki/Gypsum" title="Gypsum">gypsum</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Flint" title="Flint">Flint</a> - a form of <a href="https://en.wikipedia.org/wiki/Chert" title="Chert">chert</a> occurring in chalk and marly limestone deposits</dd>
<dd><a href="https://en.wikipedia.org/wiki/Geyserite" title="Geyserite">Geyserite</a> - <a href="https://en.wikipedia.org/wiki/Opal" title="Opal">opaline</a> silica deposit formed around hot springs and geysers</dd>
<dd><a href="https://en.wikipedia.org/wiki/Greywacke" title="Greywacke">Greywacke</a> - a type of sandstone with quartz, feldspar and rock fragments within a clay matrix</dd>
<dd><a href="https://en.wikipedia.org/wiki/Gritstone" title="Gritstone">Gritstone</a> - essentially a coarse sandstone formed from small pebbles</dd>
<dd><a href="https://en.wikipedia.org/wiki/Itacolumite" title="Itacolumite">Itacolumite</a> - porous, yellow-orange sandstone which is flexible if cut into thin strips</dd>
<dd><a href="https://en.wikipedia.org/wiki/Jaspillite" title="Jaspillite">Jaspillite</a> - an iron-rich chemical sedimentary rock similar to chert or banded iron formation</dd>
<dd><a href="https://en.wikipedia.org/wiki/Laterite" title="Laterite">Laterite</a> - residual sedimentary rock formed from a parent rock under tropical conditions</dd>
<dd><a href="https://en.wikipedia.org/wiki/Lignite" title="Lignite">Lignite</a> - sedimentary rock composed of 60%- 70% organic material; otherwise known as brown coal</dd>
<dd><a href="https://en.wikipedia.org/wiki/Limestone" title="Limestone">Limestone</a> - composed primarily of <a href="https://en.wikipedia.org/wiki/Carbonate_mineral" class="mw-redirect" title="Carbonate mineral">carbonate minerals</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Marl" title="Marl">Marl</a> - limestone with a considerable proportion of silicate material</dd>
<dd><a href="https://en.wikipedia.org/wiki/Mudstone" title="Mudstone">Mudstone</a> - <a href="https://en.wikipedia.org/wiki/Clastic_rock" title="Clastic rock">clastic</a> sedimentary rock that contains a mixture of silt- and clay-sized particles</dd>
<dd><a href="https://en.wikipedia.org/wiki/Oil_shale_geology" title="Oil shale geology">Oil shale</a> - sedimentary rock composed dominantly of organic material</dd>
<dd><a href="https://en.wikipedia.org/wiki/Oolite" title="Oolite">Oolite</a> - chemical sedimentary limestone formed from ooids, spherical grains composed of concentric layers</dd>
<dd><a href="https://en.wikipedia.org/wiki/Sandstone" title="Sandstone">Sandstone</a> - clastic sedimentary rock defined by its grain size (0.0625 mm to 2 mm)</dd>
<dd><a href="https://en.wikipedia.org/wiki/Shale" title="Shale">Shale</a> - clastic, <a href="https://en.wikipedia.org/wiki/Fissility_(geology)" title="Fissility (geology)">fissile</a> sedimentary rock defined by clay-sized particles</dd>
<dd><a href="https://en.wikipedia.org/wiki/Siltstone" title="Siltstone">Siltstone</a> - clastic sedimentary rock defined by 50% or greater silt-sized particles</dd>
<dd><a href="https://en.wikipedia.org/wiki/Tillite" class="mw-redirect" title="Tillite">Tillite</a> - lithified glacial <a href="https://en.wikipedia.org/wiki/Till" title="Till">till</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Travertine" title="Travertine">Travertine</a> - sedimentary rock containing calcite and iron oxides</dd>
<dd><a href="https://en.wikipedia.org/wiki/Tufa" title="Tufa">Tufa</a> - porous limestone formed by the precipitation of carbonate minerals from ambient temperature water bodies</dd>
<dd><a href="https://en.wikipedia.org/wiki/Turbidite" title="Turbidite">Turbidite</a> - particular sequence of sedimentary rocks which form within the deep ocean environment</dd>
<dd><a href="https://en.wikipedia.org/wiki/Wackestone" title="Wackestone">Wackestone</a> - matrix-supported carbonate sedimentary rock.</dd>
</dl>


<a href="https://en.wikipedia.org/wiki/Metamorphic_rock" title="Metamorphic rock">Metamorphic rock</a>
<dl>
<dd><a href="https://en.wikipedia.org/wiki/Anthracite" title="Anthracite">Anthracite</a> - metamorphosed coal, between 92% - 98% organic matter</dd>
<dd><a href="https://en.wikipedia.org/wiki/Amphibolite" title="Amphibolite">Amphibolite</a> - a <a href="https://en.wikipedia.org/wiki/Metamorphic_rock" title="Metamorphic rock">metamorphic rock</a> composed primarily of <a href="https://en.wikipedia.org/wiki/Amphibole" title="Amphibole">amphibole</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Blueschist" title="Blueschist">Blueschist</a> - a metamorphic rock composed of sodic amphiboles with a distinct blue color</dd>
<dd><a href="https://en.wikipedia.org/wiki/Cataclasite" title="Cataclasite">Cataclasite</a> - a rock formed by faulting</dd>
<dd><a href="https://en.wikipedia.org/wiki/Eclogite" title="Eclogite">Eclogite</a> - an ultra-high grade metamorphosed <a href="https://en.wikipedia.org/wiki/Basalt" title="Basalt">basalt</a> or <a href="https://en.wikipedia.org/wiki/Gabbro" title="Gabbro">gabbro</a>; also a <a href="https://en.wikipedia.org/wiki/Facies" title="Facies">facies</a> of <a href="https://en.wikipedia.org/wiki/Metamorphic_rock" title="Metamorphic rock">metamorphic rocks</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Gneiss" title="Gneiss">Gneiss</a> - a high grade coarse grained metamorphic rock with light and dark alternating bands</dd>
<dd><a href="https://en.wikipedia.org/wiki/Granulite" title="Granulite">Granulite</a> - a high grade metamorphic rock formed from <a href="https://en.wikipedia.org/wiki/Basalt" title="Basalt">basalt</a>; also a facies of metamorphic rocks</dd>
<dd><a href="https://en.wikipedia.org/wiki/Greenschist" title="Greenschist">Greenschist</a> - a mafic metamorphic rock dominated by green amphiboles</dd>
<dd><a href="https://en.wikipedia.org/wiki/Hornfels" title="Hornfels">Hornfels</a> - a metamorphic rock formed by heating by an igneous rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Calcflinta" title="Calcflinta">Calcflinta</a> - a type of hornfels found in the <a href="https://en.wikipedia.org/wiki/Scottish_Highlands" title="Scottish Highlands">Scottish Highlands</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Litchfieldite" title="Litchfieldite">Litchfieldite</a> - nepheline syenite gneiss</dd>
<dd><a href="https://en.wikipedia.org/wiki/Marble" title="Marble">Marble</a> - a metamorphosed limestone</dd>
<dd><a href="https://en.wikipedia.org/wiki/Migmatite" title="Migmatite">Migmatite</a> - a high grade metamorphic rock verging upon melting into a magma</dd>
<dd><a href="https://en.wikipedia.org/wiki/Mylonite" title="Mylonite">Mylonite</a> - a metamorphic rock formed by <a href="https://en.wikipedia.org/wiki/Shear_(geology)" title="Shear (geology)">shearing</a></dd>
<dd><a href="/w/index.php?title=Metapelite&amp;action=edit&amp;redlink=1" class="new" title="Metapelite (page does not exist)">Metapelite</a> - a metamorphic rock with a <a href="https://en.wikipedia.org/wiki/Protolith" title="Protolith">protolith</a> of clay-rich (siltstone) sedimentary rock</dd>
<dd><a href="/w/index.php?title=Metapsammite&amp;action=edit&amp;redlink=1" class="new" title="Metapsammite (page does not exist)">Metapsammite</a> - a metamorphic rock with a protolith of quartz-rich (sandstone) sedimentary rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Phyllite" title="Phyllite">Phyllite</a> - a low grade metamorphic rock composed mostly of <a href="https://en.wikipedia.org/wiki/Mica" title="Mica">micaceous</a> minerals</dd>
<dd><a href="https://en.wikipedia.org/wiki/Pseudotachylite" title="Pseudotachylite">Pseudotachylite</a> - a glass formed by melting within a <a href="https://en.wikipedia.org/wiki/Fault_(geology)" title="Fault (geology)">fault</a> via friction</dd>
<dd><a href="https://en.wikipedia.org/wiki/Quartzite" title="Quartzite">Quartzite</a> - a metamorphosed sandstone typically composed of &gt;95% quartz</dd>
<dd><a href="https://en.wikipedia.org/wiki/Schist" title="Schist">Schist</a> - a low to medium grade metamorphic rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Serpentinite" title="Serpentinite">Serpentinite</a> - a metamorphosed ultramafic rock dominated by <a href="https://en.wikipedia.org/wiki/Serpentine_group" class="mw-redirect" title="Serpentine group">serpentine</a> minerals</dd>
<dd><a href="https://en.wikipedia.org/wiki/Skarn" title="Skarn">Skarn</a> - a <a href="https://en.wikipedia.org/wiki/Metasomatism" title="Metasomatism">metasomatic</a> rock</dd>
<dd><a href="https://en.wikipedia.org/wiki/Slate" title="Slate">Slate</a> - a low grade metamorphic rock formed from shale or silts</dd>
<dd><a href="https://en.wikipedia.org/wiki/Suevite" title="Suevite">Suevite</a> - a rock formed by <a href="https://en.wikipedia.org/wiki/Partial_melting" title="Partial melting">partial melting</a> during a <a href="https://en.wikipedia.org/wiki/Impact_event" title="Impact event">meteorite impact</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Talc_carbonate" title="Talc carbonate">Talc carbonate</a> - a metamorphosed ultramafic rock with <a href="https://en.wikipedia.org/wiki/Talc" title="Talc">talc</a> as an essential constituent; similar to a <a href="https://en.wikipedia.org/wiki/Serpentinite" title="Serpentinite">serpentinite</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Soapstone" title="Soapstone">Soapstone</a> - essentially a talc <a href="https://en.wikipedia.org/wiki/Schist" title="Schist">schist</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Whiteschist" title="Whiteschist">Whiteschist</a> - a high pressure metamorphic rock containing talc and <a href="https://en.wikipedia.org/wiki/Kyanite" title="Kyanite">kyanite</a></dd>
</dl>


<h2><span class="mw-headline" id="Specific_varieties_of_rocks">Specific varieties of rocks</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=List_of_rock_types&amp;action=edit&amp;section=4" title="Edit section: Specific varieties of rocks">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<dl>
<dd><a href="https://en.wikipedia.org/wiki/Adamellite" class="mw-redirect" title="Adamellite">Adamellite</a> - a variety of <a href="https://en.wikipedia.org/wiki/Quartz_monzonite" title="Quartz monzonite">quartz monzonite</a></dd>
<dd><a href="/w/index.php?title=Appinite&amp;action=edit&amp;redlink=1" class="new" title="Appinite (page does not exist)">Appinite</a> - a group of varieties of <a href="https://en.wikipedia.org/wiki/Lamprophyre" title="Lamprophyre">lamprophyre</a>, mostly rich in <a href="https://en.wikipedia.org/wiki/Hornblende" title="Hornblende">hornblende</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Aphanite" title="Aphanite">Aphanite</a> - an <a href="https://en.wikipedia.org/wiki/Aphanitic" class="mw-redirect" title="Aphanitic">aphanitic</a> <a href="https://en.wikipedia.org/wiki/Felsic" title="Felsic">felsic</a> volcanic rock which confounds identification via optical means</dd>
<dd><a href="https://en.wikipedia.org/wiki/Borolanite" title="Borolanite">Borolanite</a> - a variety of <a href="https://en.wikipedia.org/wiki/Nepheline_syenite" title="Nepheline syenite">nepheline syenite</a> from Loch Borralan, Scotland</dd>
<dd><a href="https://en.wikipedia.org/wiki/Larvikite" title="Larvikite">Blue Granite</a> - essentially <a href="https://en.wikipedia.org/wiki/Larvikite" title="Larvikite">larvikite</a>, a <a href="https://en.wikipedia.org/wiki/Monzonite" title="Monzonite">monzonite</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Epidosite" title="Epidosite">Epidosite</a> - a type of <a href="https://en.wikipedia.org/wiki/Metasomatism" title="Metasomatism">metasomatite</a>; essentially altered <a href="https://en.wikipedia.org/wiki/Basalt" title="Basalt">basalt</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Felsite" title="Felsite">Felsite</a> - an <a href="https://en.wikipedia.org/wiki/Aphanitic" class="mw-redirect" title="Aphanitic">aphanitic</a> felsic volcanic rock which confounds identification via optical means</dd>
<dd><a href="https://en.wikipedia.org/wiki/Flint" title="Flint">Flint</a> - typically a form of <a href="https://en.wikipedia.org/wiki/Chert" title="Chert">chert</a>, <a href="https://en.wikipedia.org/wiki/Jasper" title="Jasper">jasper</a>, or <a href="https://en.wikipedia.org/wiki/Tuff" title="Tuff">tuff</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Ganister" title="Ganister">Ganister</a> - a <a href="https://en.wikipedia.org/wiki/Cornwall" title="Cornwall">Cornish</a> term for a lithified E horizon of a <a href="https://en.wikipedia.org/wiki/Palaeosol" class="mw-redirect" title="Palaeosol">palaeosol</a> formed from sandy soil</dd>
<dd><a href="https://en.wikipedia.org/wiki/Gossan" title="Gossan">Gossan</a> - the product of the weathering of a sulfide rock or ore body</dd>
<dd><a href="https://en.wikipedia.org/wiki/Hyaloclastite" title="Hyaloclastite">Hyaloclastite</a> – volcanic glass with basaltic composition</dd>
<dd><a href="https://en.wikipedia.org/wiki/Ijolite" title="Ijolite">Ijolite</a> - a <a href="https://en.wikipedia.org/wiki/Silica" class="mw-redirect" title="Silica">silica</a>-<a href="https://en.wikipedia.org/wiki/Saturation_(chemistry)" title="Saturation (chemistry)">undersaturated</a> plutonic rock associated with <a href="https://en.wikipedia.org/wiki/Nepheline_syenite" title="Nepheline syenite">nepheline syenites</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Jadeitite" title="Jadeitite">Jadeitite</a> - a very rare rock formed by concentration of <a href="https://en.wikipedia.org/wiki/Jadeite" title="Jadeite">jadeite</a> <a href="https://en.wikipedia.org/wiki/Pyroxene" title="Pyroxene">pyroxene</a>; a form of <a href="https://en.wikipedia.org/wiki/Serpentinite" title="Serpentinite">serpentinite</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Jasperoid" title="Jasperoid">Jasperoid</a> - a <a href="https://en.wikipedia.org/wiki/Hematite" title="Hematite">hematite</a>-silica <a href="https://en.wikipedia.org/wiki/Metasomatism" title="Metasomatism">metasomatite</a> analogous to a <a href="https://en.wikipedia.org/wiki/Skarn" title="Skarn">skarn</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Kenyte" title="Kenyte">Kenyte</a> - a variety of <a href="https://en.wikipedia.org/wiki/Phonolite" title="Phonolite">phonolite</a>, first found on <a href="https://en.wikipedia.org/wiki/Mount_Kenya" title="Mount Kenya">Mount Kenya</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Lapis_lazuli" title="Lapis lazuli">Lapis lazuli</a> - a rock composed of <a href="https://en.wikipedia.org/wiki/Lazulite" title="Lazulite">lazulite</a> and other minerals</dd>
<dd><a href="https://en.wikipedia.org/wiki/Larvikite" title="Larvikite">Larvikite</a> - a variety of <a href="https://en.wikipedia.org/wiki/Monzonite" title="Monzonite">monzonite</a> with <a href="https://en.wikipedia.org/wiki/Perthite" title="Perthite">microperthitic</a> ternary <a href="https://en.wikipedia.org/wiki/Feldspar" title="Feldspar">feldspars</a> from Larvik, Norway</dd>
<dd><a href="https://en.wikipedia.org/wiki/Litchfieldite" title="Litchfieldite">Litchfieldite</a> - a metamorphosed <a href="https://en.wikipedia.org/wiki/Nepheline_syenite" title="Nepheline syenite">nepheline syenite</a> occurrence near Litchfield, Maine</dd>
<dd><a href="https://en.wikipedia.org/wiki/Llanite" title="Llanite">Llanite</a> - a hypabyssal rhyolite with microcline and blue quartz phenocrysts from the Llano Uplift in Texas</dd>
<dd><a href="https://en.wikipedia.org/wiki/Luxullianite" title="Luxullianite">Luxullianite</a> - a <a href="https://en.wikipedia.org/wiki/Tourmaline" title="Tourmaline">tourmaline</a>-bearing granite with a peculiar texture, occurring at Luxulyan, Cornwall, England</dd>
<dd><a href="https://en.wikipedia.org/wiki/Mangerite" title="Mangerite">Mangerite</a> - a <a href="https://en.wikipedia.org/wiki/Hypersthene" title="Hypersthene">hypersthene</a>-bearing <a href="https://en.wikipedia.org/wiki/Monzonite" title="Monzonite">monzonite</a></dd>
<dd>Minette - a variety of <a href="https://en.wikipedia.org/wiki/Lamprophyre" title="Lamprophyre">lamprophyre</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Novaculite" title="Novaculite">Novaculite</a> - a type of <a href="https://en.wikipedia.org/wiki/Chert" title="Chert">chert</a> found in <a href="https://en.wikipedia.org/wiki/Oklahoma" title="Oklahoma">Oklahoma</a>, <a href="https://en.wikipedia.org/wiki/Arkansas" title="Arkansas">Arkansas</a> and <a href="https://en.wikipedia.org/wiki/Texas" title="Texas">Texas</a></dd>
<dd>Pietersite - A breccia composed of both hawk's eye (blue) and <a href="https://en.wikipedia.org/wiki/Tiger_eye" class="mw-redirect" title="Tiger eye">tiger eye</a> (brown) quartz</dd>
<dd><a href="https://en.wikipedia.org/wiki/Pyrolite" title="Pyrolite">Pyrolite</a> - a chemical analogue considered to theoretically represent the earth's upper <a href="https://en.wikipedia.org/wiki/Mantle_(geology)" title="Mantle (geology)">mantle</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Rapakivi_granite" title="Rapakivi granite">Rapakivi granite</a> - a granite containing crystals of orthoclase, which are mantled by oligoclase</dd>
<dd><a href="https://en.wikipedia.org/wiki/Rhomb_porphyry" class="mw-redirect" title="Rhomb porphyry">Rhomb porphyry</a> - a type of <a href="https://en.wikipedia.org/wiki/Latite" title="Latite">latite</a> with <a href="https://en.wikipedia.org/wiki/Euhedral" class="mw-redirect" title="Euhedral">euhedral</a> rhombic <a href="https://en.wikipedia.org/wiki/Phenocrysts" class="mw-redirect" title="Phenocrysts">phenocrysts</a> of <a href="https://en.wikipedia.org/wiki/Feldspar" title="Feldspar">feldspar</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Shonkinite" title="Shonkinite">Shonkinite</a> - <a href="/w/index.php?title=Melitilic&amp;action=edit&amp;redlink=1" class="new" title="Melitilic (page does not exist)">melitilic</a> and <a href="/w/index.php?title=Kalsititic&amp;action=edit&amp;redlink=1" class="new" title="Kalsititic (page does not exist)">kalsititic</a> rocks</dd>
<dd><a href="https://en.wikipedia.org/wiki/Taconite" title="Taconite">Taconite</a> - <a href="https://en.wikipedia.org/wiki/Banded_iron_formation" title="Banded iron formation">banded iron formation</a>, primarily used in the United States of America</dd>
<dd><a href="https://en.wikipedia.org/wiki/Tachylite" title="Tachylite">Tachylite</a> - basaltic volcanic glass</dd>
<dd><a href="/w/index.php?title=Teschenite&amp;action=edit&amp;redlink=1" class="new" title="Teschenite (page does not exist)">Teschenite</a> - a silica undersaturated, <a href="https://en.wikipedia.org/wiki/Analcime" title="Analcime">analcime</a> bearing <a href="https://en.wikipedia.org/wiki/Gabbro" title="Gabbro">gabbro</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Theralite" title="Theralite">Theralite</a> - a <a href="https://en.wikipedia.org/wiki/Nepheline" title="Nepheline">nepheline</a> gabbro</dd>
<dd><a href="https://en.wikipedia.org/wiki/Unakite" title="Unakite">Unakite</a> - an altered granite</dd>
<dd><a href="https://en.wikipedia.org/wiki/Variolite" title="Variolite">Variolite</a> - <a href="https://en.wikipedia.org/wiki/Devitrification" title="Devitrification">devitrified</a> glass</dd>
<dd><a href="https://en.wikipedia.org/wiki/Lamprophyre" title="Lamprophyre">Vogesite</a> - a variety of <a href="https://en.wikipedia.org/wiki/Lamprophyre" title="Lamprophyre">lamprophyre</a></dd>
<dd><a href="https://en.wikipedia.org/wiki/Wad" title="Wad">Wad</a> - rock rich in manganese oxide or manganese hydroxide</dd>
</dl>